/*! purgecss start ignore */
@tailwind base;
@tailwind components;

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #000000;
  stroke-width: 10;
  stroke-linecap: square;
  stroke-miterlimit: 3;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-sans font-black;
}
.screaming {
  @apply font-black;
  font-size: 8rem;
}
p {
  @apply font-sans font-medium mt-3 text-2xl leading-9 text-gray-900;
  font-family: Open Sans;
}

@media (max-width: 640px) {
  .screaming {
    font-size: 5rem;
  }
  p {
    @apply text-xl;
  }
}

/*! purgecss end ignore */

@tailwind utilities;
